{% extends "base.html" %}
{% block title %}Dinghy Ping{% endblock %}

{% block content %}
<div class="flex flex-wrap">
    <div class="w-1/2  px-6 py-4">
        <div class="px-6 py-4 max-w-lg rounded overflow-hidden shadow-md border border-green-300 bg-gray-100">
            <h1 class="text-xl font-semibold hover:text-green-400"><a href="/"
                    class="no-underline hover:underline">Dinghy Ping - http</a></h1>
            <br>
            <div id="content">
                <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                            {{ http_form.hidden_tag() }}
                            {{ http_form.url.label }}: {{ http_form.url(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                        </label>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                            {{ http_form.headers.label }}: {{ http_form.headers(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                        </label>
                        <p class="text-black text-xs italic">Provide optional headers as JSON key/value format.</p>
                        <br>
                        <img class="logo float-right" src="/static/silvermullet_small_1.jpg" title="silvermullet" />
                        {{ http_form.submit(class_="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="w-1/2  px-6 py-4">
        <div class="px-6 py-4 max-w-lg rounded overflow-hidden shadow-md border border-green-300 bg-gray-100">
            <h1 class="text-xl font-semibold hover:text-green-400"><a href="/"
                    class="no-underline hover:underline">Dinghy Ping - tcp</a></h1>
            <br>
            <div id="content">
                <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                            {{ tcp_form.hidden_tag() }}
                            {{ tcp_form.tcp_endpoint.label }}: {{ tcp_form.tcp_endpoint(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                        </label>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                            {{ tcp_form.tcp_port.label }}: {{ tcp_form.tcp_port(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                        </label>
                        <p class="text-black text-xs italic">A TCP connectivity test</p><br>
                        {{ tcp_form.submit(class_="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w-1/2  px-6 py-4">
        <div class="px-6 py-4 max-w-lg rounded overflow-hidden shadow-md border border-green-300 bg-gray-100">
            <h1 class="text-xl font-semibold hover:text-green-400"><a href="/"
                    class="no-underline hover:underline">Dinghy Ping - dns</a></h1>
            <br>
            <div id="content">
                <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                            {{ dns_form.hidden_tag() }}
                            {{ dns_form.domain.label }}: {{ dns_form.domain(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                        </label>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                            {{ dns_form.nameserver.label }}: {{ dns_form.nameserver(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                        </label>
                        <p class="text-black text-xs italic">DNS info lookup</p><br>
                        {{ dns_form.submit(class_="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="w-1/2  px-6 py-4">
        <div class="px-6 py-4 max-w-lg rounded overflow-hidden shadow-lg border border-green-300 bg-gray-100">
            <h3 class="text-lg font-semibold">Dinghy Ping History</h3>
            <br>
            <table class="table-auto">
                {% for k, v in get_all_pinged_urls.items() %}
                <tr>
                    <td>
                        <div class="text-sm">{{k}} {{v}}</div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}