{% extends "base.html" %}
{% block content %}
    <br>
    <div class="m-4 max-w-full rounded overflow-hidden shadow-lg border border-green-300 bg-gray-100">
      <div class="px-6 py-4">
        <h1 class="text-xl font-semibold hover:text-green-400"><a href="/" class="no-underline hover:underline">Dinghy Ping - Pods</a></h1>
        <br>
            {% for pod, namespace in all_pods.items() %}
              <a href="/input-pod-logs?namespace={{namespace}}&pod={{pod}}&tail_lines={{tail_lines}}">{{namespace}} - {{pod}}</a>
              <br>
            {% endfor %}
      </div>
    </div>
{% endblock %}