<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Dinghy Ping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <br>
    <div class="m-4 max-w-xl rounded overflow-hidden shadow-md border border-green-300 bg-gray-100">
      <div class="px-6 py-4">
        <h1 class="text-xl font-semibold hover:text-green-400"><a href="/" class="no-underline hover:underline">Dinghy Ping - http</a></h1>
        <br>
        <div class="font-bold text-base mb-2">Request: {{ request }}</div>
        <div class="font-bold text-base mb-2">Response Code: {{ domain_response_code }}</div>
        <div class="font-bold text-base mb-2">Response Time: {{ domain_response_time_ms }}</div>
        <div class="text-xs mb-2">Scheme Notes: {{ scheme_notes }}</div>
      </div>
    </div>
    <br>
    <div class="m-4 max-w-full rounded overflow-hidden shadow-lg border border-green-300 bg-gray-100">
      <div class="px-6 py-4">
        <div class="font-bold text-base mb-2">Response Body:</div>
         <p class="font-serif text-gray-700 text-sm"> {{ domain_response_text }} </p>
      </div>
    </div>
  </body>
</html>
