<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <title>Dinghy Ping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <br>
    <div class="max-w-sm rounded overflow-hidden shadow-md border border-green bg-grey-lightest">
      <div class="px-6 py-4">
        <h1><a href="/" class="no-underline hover:underline">Dinghy Ping</a></h1>
        <br>
        <div class="font-bold text-base mb-2">Endpoint Domain: {{ request }}</div>
        <div class="font-bold text-base mb-2">Endpoint Port: {{ port }}</div>
        <div class="font-bold text-base mb-2">TCP Connection: {{ connection_results['connection_status'] }}</div>
      </div>
    </div>
    <br>
    <div class="max-w-lg rounded overflow-hidden shadow-lg border border-green bg-grey-lightest">
      <div class="px-6 py-4">
        <div class="font-bold text-base mb-2">Response Body:</div>
         <p class="text-grey-darkest text-sm"> {{ connection_results['peer_info'] }} </p>
      </div>
    </div>
  </body>
</html>
