<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <title>Dinghy Ping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <style>
      input[type=text] {
        width: 340px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
      input[type=button], input[type=submit], input[type=reset] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="px-6 py-4 max-w-sm rounded overflow-hidden shadow-md border border-green bg-grey-lightest">
      <h1>Dinghy Ping</h1>
      <br>
      <div id="content">

        <form action="/dinghy/form-input">
          URL: <input type="text" name="url" required><br>
          <input type="submit" value="Ping">
        </form>

      </div>
    </div>
    <br>
    <div class="max-w-lg rounded overflow-hidden shadow-lg border border-green bg-grey-lightest">
      <div class="px-6 py-4 list-reset">
        <h3>Dinghy Ping History</h3>
        <br>
        <table class="table-auto">
        {% for k, v in get_all_pinged_urls.items() %}
            <tr>
              <td><div class="text-sm">{{k}} {{v}}</div></td>
            </tr>
        {% endfor %}
      </div>
    </div>
    <!-- scripts -->
  </body>
</html>
