<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Dinghy Ping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="px-6 py-4">
      <div class="px-6 py-4 max-w-lg rounded overflow-hidden shadow-md border border-green-300 bg-gray-100">
        <h1 class="text-xl font-semibold hover:text-green-400"><a href="/" class="no-underline hover:underline">Dinghy Ping - http</a></h1>
        <br>
        <div id="content">
          <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/dinghy/form-input">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                URL Check
                <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="url" type="text" placeholder="https://" name="url">
              </label>
              <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                Optional Headers 
                <input class="shadow appearance-none border border-green-300 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="headers" type="text" placeholder='{ "Header1": "value1", "Header2": "value2" }' name="headers">
              </label>
              <p class="text-black text-xs italic">Provide optional headers as JSON key/value format.</p><br>
              <img class="logo float-right" src="static/silvermullet_small_1.jpg" title="silvermullet"/>
              <input class="cursor-auto bg-green-300 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Ping">
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="px-6 py-4">
      <div class="px-6 py-4 max-w-lg rounded overflow-hidden shadow-md border border-green-300 bg-gray-100">
        <h1 class="text-xl font-semibold hover:text-green-400"><a href="/" class="no-underline hover:underline">Dinghy Ping - tcp</a></h1>
        <br>
        <div id="content">
          <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/dinghy/form-input-tcp-connection-test">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                TCP Endpoint Check 
                <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="tcp-endpoint" type="text" placeholder="domain" name="tcp-endpoint">
              </label>
              <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                TCP Port
                <input class="shadow appearance-none border border-green-300 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="tcp-port" type="text" placeholder='3306' name="tcp-port">
              </label>
              <p class="text-black text-xs italic">A TCP connectivity test</p><br>
              <input class="cursor-auto bg-green-300 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Ping">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="px-6 py-4">
      <div class="px-6 py-4 max-w-lg rounded overflow-hidden shadow-md border border-green-300 bg-gray-100">
        <h1 class="text-xl font-semibold hover:text-green-400"><a href="/" class="no-underline hover:underline">Dinghy Ping - dns</a></h1>
        <br>
        <div id="content">
          <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/dinghy/form-input-dns-info">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                Hostname
                <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="domain" type="text" placeholder="domain" name="domain">
              </label>
              <label class="block text-gray-700 text-sm font-bold mb-2" for="url">
                Nameserver
                <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="nameserver" type="text" placeholder="127.0.0.1" name="nameserver">
              </label>
              <p class="text-black text-xs italic">DNS info lookup</p><br>
              <input class="cursor-auto bg-green-300 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Ping">
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
      <div class="absolute m-8 top-0 right-0 max-w-2xl rounded overflow-hidden shadow-lg border border-green-300 bg-gray-100">
        <div class="px-6 py-4 list-reset">
          <h3 class="text-lg font-semibold">Dinghy Ping History</h3>
          <br>
          <table class="table-auto">
          {% for k, v in get_all_pinged_urls.items() %}
              <tr>
                <td><div class="text-sm">{{k}} {{v}}</div></td>
              </tr>
          {% endfor %}
        </div>
      </div>
    <!-- scripts -->
  </body>
</html>
