{% extends "base.html" %}
{% block title %}Dinghy Ping{% endblock %}

{% block content %}
<br>
<div class="m-4 max-w-xl rounded overflow-hidden shadow-md border border-green-300 bg-gray-100">
  <div class="px-6 py-4">
    <h1 class="text-xl font-semibold hover:text-green-400"><a href="/" class="no-underline hover:underline">Dinghy Ping - tcp</a></h1>
    <br>
    <div class="font-bold text-base mb-2">Endpoint Domain: {{ request }}</div>
    <div class="font-bold text-base mb-2">Endpoint Port: {{ port }}</div>
    <div class="font-bold text-base mb-2">TCP Connection: {{ connection_results }}</div>
  </div>
</div>
<br>
<div class="m-4 max-w-xl rounded overflow-hidden shadow-lg border border-green-300 bg-gray-100">
  <div class="px-6 py-4">
    <div class="font-bold text-base mb-2">Response Body:</div>
      <p class="text-gray-700 text-sm"> {{ connection_results }} </p>
  </div>
</div>
{% endblock %}
